#mapamental, #mapaconceptual, #infografia, #relacionar{
    width: 98%;
}

#mapamental:hover, #mapaconceptual:hover, #infografia:hover, #relacionar:hover{
    transform: scale(3.0); 
       
}


#titulo{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

article{
    border-style: inset;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px grey;
}
.texto{
    font-size: large;
 }